body {
    background-color: var(--lightcolor-section);
}
/* SECTION */
section {
    background-color: var(--lightcolor-section);
    text-align: center;
}
section figure {
    padding: 10px;
    background-color: var(--lightestcolor-header);
    display: inline-block;
}
section figure:hover {
    box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.15), 3px 3px 8px rgba(0, 0, 0, 0.15), 3px -3px 8px rgba(0, 0, 0, 0.15), -3px 3px 8px rgba(0, 0, 0, 0.15);
}
section img, figcaption {
    width: 95%;
    height: 95%;
    margin: auto;
    display: block;
    padding: 5px;
    font-family: 'Monoton', cursive;
    font-size: 24pt;
    color: var(--darkpurple-header);
    text-shadow: 1.5px 1.5px white;
    text-align: center;
    letter-spacing: 5px;
}
a {
    text-decoration: none;
}